@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,500;1,200;1,400;1,500&display=swap');

.top-bit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 32px;
  gap: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.opener {
    display: flex;
    gap: 24px;
    background-color: #1f2937;
    padding: 5%;

}
ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    color: antiquewhite;
    margin: 0;
    padding: 0;
}
h2, h3 {
    color: white;
}

h3 {
    font-size: 52px;
}

body {
    font-family: "Roboto Mono", sans-serif;
    display: flex;
    margin: 0px;
    flex-direction: column;
}
p {
    color: lightgray;
    font-size: 20px;
}

button:hover {
    background-color: rgb(50, 118, 181);
    color: white;
}
button {
    transition-duration: 0.4s;
    padding: 12px 32px;
    border-radius: 15px;
    color: white;
    background-color: rgb(50, 138, 232);
    font-weight: bold;
    font-size: 16px;
    align-self: flex-start;
    border: none;
}
h3 {
    margin: 0;
}
.container-opener {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: antiquewhite;
    transition: all 0.3s ease;
}

a:hover {
    color: aliceblue;
    font-size: 18px;
}

img {
    height: auto;
    width: 500px;
    border-radius: 15px;
}