@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,500;1,200;1,400;1,500&display=swap');

.top-bit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 32px;
  gap: 60px;
  padding-left: 50px;
  padding-right: 50px;
}

.opener {
    display: flex;
    gap: 24px;
    background-color: #1f2937;
    padding: 5%;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    color: antiquewhite;
    margin: 0;
    padding: 0;
}
h2, h3 {
    color: white;
}

h3 {
    font-size: 52px;
}

body {
    font-family: "Roboto Mono", sans-serif;
    display: flex;
    margin: 0px;
    flex-direction: column;
}
p {
    color: lightgray;
    font-size: 20px;
}

button:hover {
    background-color: rgb(50, 118, 181);
    color: white;
}
button {
    transition-duration: 0.4s;
    padding: 12px 32px;
    border-radius: 15px;
    color: white;
    background-color: rgb(50, 138, 232);
    font-weight: bold;
    font-size: 16px;
    align-self: flex-start;
    border: none;
}
h3 {
    margin: 0;
}
.container-opener {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: antiquewhite;
    transition: all 0.3s ease;
}

a:hover {
    color: aliceblue;
    font-size: 18px;
}

img {
    height: auto;
    width: 50%;
    border-radius: 15px;
}

.info img {
    width: 50%
    height: auto;
}

.info {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 18px;
}
main h2 {
    color: rgb(29, 29, 29);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 32px;
}
.imgs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-style: groove;
    padding: 16px;
    min-height: 300px;
}
.info {
    margin: 50px;
}
.imgs p {
    text-align: center;
    color: rgb(82, 78, 78);
    font-size: 18px;
    font-style: italic;
}
.quote p, h3 {
    font-style: italic;
    color: aliceblue;
}
.quote h3 {
    font-size: 20px;
    text-align: end;
}
.quote {
    background-color: #8593a895;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
    padding: 200px;
}
footer {
    text-align: center;
    background-color: #1f2937;
    padding: 25px;
}